*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* background: #bdc3c7; */
  line-height: 1.5;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
}
#header {
  background: #1e262d;
  width: 100%;
  position: relative;
}
#header:after {
  content: "";
  clear: both;
  display: block;
}
.logo {
width: 750px;
  float: left;
  padding-top: 14px;
}
.logo a {
  display: block;
  padding: 0 0 0 20px;
}
nav {
  float: right;
}
nav > ul {
  float: left;
  position: relative;
}
nav li {
  list-style: none;
  float: left;
}
nav li a {
  float: left;
  padding: 35px;
}
nav li a:hover {
  background: #2c3e50;
  color: yellow;
}